<div class="card">
    <div class="card-content">
        <span class="card-title black-text">Shorten your links!</span>
        <div class="divider"></div>
        <div class="container">
            <form>
                <div class="row">
                    <div class="input-field url-input col s12 m10">
                        <input placeholder="Enter URL" type="text" [(ngModel)]='inputUrl' name='input-url' (keyup)='onKey()'>
                    </div>
                    <div class="input-field col s12 m2 center-align">
                        <button type="submit" class="btn indigo darken-2"
                                (click)="shorten($event)">
                            Shorten
                        </button>
                    </div>
                    <div class="col s12 center-align">
                        <h6 *ngIf='errorMessage' class="red-text">{{errorMessage}}</h6>
                    </div>
                    <div class="divider"></div>
                    <div class="input-field col s12 m5">
                        <input id="short-url" type="text" [value]="shortUrl">
                        <label class="active" for="short-url">Short URL</label>
                    </div>
                    <div class="input-field col s12 m2 center-align">
                        <button type="submit" class="btn teal"
                                (click)="preventDefault($event)">
                            Copy link
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>