<div>
    <nav class="indigo darken-4">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Easy Past</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="https://github.com/mhn147/easy-past">
                        Repository <img class="__vertical-align" src="assets/images/github-light.png" alt="">
                    </a>
                </li>
                <li><a href="https://rel.ink/">Relink API</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav indigo darken-4 " id="mobile-demo">
        <li>
            <a href="https://github.com/mhn147/easy-past" class="white-text">
                Repository <img class="__vertical-align" src="assets/images/github-light.png" alt="">
            </a>
        </li>
        <li><a href="https://rel.ink/" class="white-text">Relink API</a></li>
    </ul>

    <div class="section container">
        <!-- input component goes here -->
        <ep-url-input></ep-url-input>
    </div>

    <div class="section container">
        <!-- link list component goes here -->
    </div>
</div>