.original-url {
    width: 400px;
}

.created {
    min-width: 120px;
}

.__copy-btn {
    cursor: pointer;
}

.__table-container {
    max-height: 35vh;
    overflow-x: hidden;
    overflow-y: scroll;
}