.original-url {
    max-width: 450px;
}

.__copy-btn {
    cursor: pointer;
}

.__table-container {
    max-height: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
}

tr {
    height: auto;
}

td {
    height: 100%;
}